<h3>Events matching <%=Category.find(@category).name%>: <%=@parameter%><h3><hr>

<ul>

<% @selected_events.order('date ASC').each do |result| %>  
    <li>
    Event: <%= result.artist %><br>
    Venue: <%= result.venue %><br>
    Date: <%= result.date.rfc2822.slice(0, result.date.rfc2822.length-14) %><br>
    <%= link_to "View Event", event_path(result) %><br>
    </li>
<% end %>
</ul>

