<head>
    <link href="https://fonts.googleapis.com/css?family=Catamaran:400,700|Quicksand&display=swap" rel="stylesheet"> 
</head>
<div style="font-family: 'Catamaran', sans-serif;">
    <div class="album py-5 bg-light">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <h1 class="title"><%=@event.artist.upcase%></h1>

                    <div class="card-body" id="event_card">
                        <b><h5>Venue:</b> <%=@event.venue%></h3>
                        <b><h5>Date:</b> <%=@event.date.rfc2822.slice(0, @event.date.rfc2822.length-14)%></h3>
                        <b><h5>Genre:</b> <%=@event.genre%></h3>
                    </div>
                <img src =<%=@event.image%> class="bd-placeholder-img card-img-top" preserveAspectRatio="xMidYMid slice"><br>
                <div id="options">
                    <div class="btn-group">
                        <%=button_to "Add Event to my Cal", new_event_calendar_path(@event), method: :post, class: "btn btn-sm btn-outline-secondary" %>
                        <%=button_to "Buy a ticket", @event.ticket_url, class:"btn btn-sm btn-outline-secondary", target: :_blank %><br>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>


    RSVPs:
        <% User.all.each do |user| %>

            <% if EventCalendar.all.find_by(event_id: @event.id) %>
                <% if user.calendar.id == (EventCalendar.all.find_by(event_id: @event.id)).calendar_id %>
                    <%= user.full_name %><br>
                    <% if session[:user_id] != user.id %>
                        <%= link_to "View #{user.first_name}'s Concert Cal", calendar_path(user.calendar.id) %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>











