<head>
    <link href="https://fonts.googleapis.com/css?family=Catamaran:400,700|Quicksand&display=swap" rel="stylesheet"> 
</head>
    <div style="font-family: 'Catamaran', sans-serif;">
        
        <h1 class="title"><%=@event.artist.upcase%></h1>

        <div class="body">
        <b><h5>Venue:</b> <%=@event.venue%></h3>
        <b><h5>Date:</b> <%=@event.date.rfc2822.slice(0, @event.date.rfc2822.length-14)%></h3>
        <b><h5>Genre:</b> <%=@event.genre%></h3>
        <img src =<%=@event.image%> width="380" height="290"><br>
        </div>
        <div class="info">
        <%=link_to "Add Event to my Cal", new_event_calendar_path(@event), method: :post %><br>
        <%=link_to "Buy a ticket", @event.ticket_url, target: :_blank %><br>

        RSVPs:
            <% User.all.each do |user| %>

                <% if EventCalendar.all.find_by(event_id: @event.id) %>
                    <% if user.calendar.id == (EventCalendar.all.find_by(event_id: @event.id)).calendar_id %>
                        <%= user.full_name %><br>
                        <% if session[:user_id] != user.id %>
                            <%= link_to "View #{user.first_name}'s Concert Cal", calendar_path(user.calendar.id) %>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>











