<head>
    <link href="https://fonts.googleapis.com/css?family=Catamaran:400,700|Quicksand&display=swap" rel="stylesheet">
</head>

<h1 class="title"><%="#{@calendar.user.first_name}'s Concert Cal"%></h1>



<%= month_calendar events: @my_events do |date, events| %>
    <%= date.day %>
    <% events.each do |event| %>
      <div>
        <%= link_to event.event.artist, event_path(event.event) %><br>
        <% if session[:user_id] == @calendar.user.id %>
          <%= link_to "Delete from Calendar", delete_event_calendar_path(event.event.id), method: :delete, class: "btn btn-primary btn-sm" %>
        <% end %>
      </div>
    <% end %>
  <% end %>





